{{ include('base.html.twig') }}

<html>
  <body>
    <div class="container">
      <header>
        <h1 class='well'>Word Frequency Counter</h1>
      </header>
      <h4>Your chosen word was found <strong>{{ results }}</strong> times within the phrase that you provided</h4>
      <a href="/"><button type='button' class='btn btn-info'>Home</button></a>


    </div>
  </body>
</html>
