{{ include('base.html.twig') }}

<html>
  <body id='main'>
    <div class="container">
      <header>
        <h1 class='well'>Word Frequency Counter</h1>
      </header>
      <form action='/count-results'>
        <div id='labelOne'>
          <label for='search-word'><span class='output-descriptions'>What word would you like me to find?</span></label>
        </div>

        <input name='search-word' type='text' placeholder="Word to search for" required>
        <br><br>
        <div id='labelOne'>
          <label for='search-phrase'><span class='output-descriptions'>Enter the phrase you would like to search through: </span></label>
        </div>

        <textarea name='search-phrase' type='text' placeholder='Phrase to search through' required></textarea>
        <br><br>
        <button type='submit' class='btn'>Find a match</button>
      </form>
    </div>
  </body>
</html>
